@page
@model WebApplication_Maybe_lah_haiyo.Pages.ChooseMenu
@{
}

<div class="text-center">
	<div class="mainText">
		<h1 class="display-4 text-capitalize text-black">
			@Model.R_ID: @Model.RestaurantName
		</h1>
		<h2 class="display-4 text-capitalize text-black">
			Choose orders.
		</h2>
	</div>
</div>

@foreach(var M in Model.MenuDB)
{
	<div class="col-4 mb-5">
        <h2>@M.MenuName</h2>
		<h2>Price: RM @M.MenuPrice</h2>
        <a class="btn btn-primary mt-1" asp-area="" asp-page="ChooseOrder">Order</a>
	</div>
}